@value colors "../../styles/variables.css";
@value color-text-income, color-text-main-light,btn-main, btn-active from colors;
/* GRAPHBOX */

.graphBox {
  width: 280px;
  margin: 0 auto;
}

.graphBox svg {
  padding: 24px 0;

}

/* MEDIA */
@media screen and (min-width: 768px) {
  .graphHolder {
    margin: 0 auto;
    width: 600px;
    border: 1px;
    box-shadow: 10px 17px 40px rgba(1, 1, 0, 0.15);
  }

  .graphHolderHeading {
    background-color: #516d57;
    text-align: center;
    
  }

  .heading {
    color: color-text-main-light;
    padding: 40px 220px;
  }

  .graphBox {
    text-align: center;
  }
}
