@value colors "../../styles/variables.css";
@value color-main, color-text-income, color-text-main-light, btn-main, btn-active, font-family-primary from colors;

.wrap {
  margin-bottom: 34px;
}

.wrapSVG {
  margin: 0 auto;
  width: 290px;
  height: 290px;
  margin-bottom: 10px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 280px;
  padding: 12px 0;
  color: color-text-main-light;
  font-size: 15px;
  font-weight: 700;
  background-color: btn-main;
  box-shadow: 2px 3px 3px rgba(92, 135, 94, 0.2);
  border: none;
  border-radius: 4px;
  transition: 0.3s linear;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: color-text-income;
  background-image: btn-active;
}

@media screen and (min-width: 768px) {
  .wrap {
    padding-bottom: 38px;
    margin-bottom: 34px;
    border-radius: 0 0 3px 3px;
    box-shadow: 10px 17px 40px rgba(1, 1, 0, 0.15);
  }
  .button {
    margin-bottom: 0;
  }

  .wrapSVG {
    width: 412px;
    height: 412px;
  }
}

@media screen and (min-width: 1658px) {
  .wrap {
    box-shadow: none;
  }
}
