@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(../fonts/HelveticaNeueCyr-Bold.woff);
  src: local("HelveticaNeueCyr-Bold"),
    url(../fonts/HelveticaNeueCyr-Bold.eot) format("embedded-opentype"),
    url(../fonts/HelveticaNeueCyr-Bold.woff) format("woff"),
    url(../fonts/HelveticaNeueCyr-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(../fonts/HelveticaNeueCyr-Light.woff);
  src: local("HelveticaNeueCyr-Light"),
    url(../fonts/HelveticaNeueCyr-Light.eot) format("embedded-opentype"),
    url(../fonts/HelveticaNeueCyr-Light.woff) format("woff"),
    url(../fonts/HelveticaNeueCyr-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(../fonts/HelveticaNeueCyr-Roman.woff);
  src: local("HelveticaNeueCyr-Roman"),
    url(../fonts/HelveticaNeueCyr-Roman.eot) format("embedded-opentype"),
    url(../fonts/HelveticaNeueCyr-Roman.woff) format("woff"),
    url(../fonts/HelveticaNeueCyr-Roman.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
