@value var: "./variables.css";
@value font-family-primary from var;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: font-family-primary;
}
