.mainWrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

@media (min-width: 1024px) {
    .mainWrapper {
        width:1024px;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0 2rem
    }
}

@media (min-width: 1300px) {
    .mainWrapper{
        width:1280px
    }
}
