.tableWrap {
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 4%
}

.table {
    border-bottom: 2px solid #b9c9d4
}

.table,
.total {
    margin: 0 auto
}

.row,
.rowHeader,
.totalRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.rowHeader {
    background-color: #f3f6f6;
    height: 50px;
    font-size: 15px;
    color: #282828;
    font-weight: 700;
    line-height: 2;
}

.row {
    font-size: 14px;
    color: #282828;
    line-height: 1.385;
    height: 42px;
    border-bottom: 2px solid #f3f6f6;
}

.categoryWrap {
    display: flex;
}

.square {
    margin: 0;
    width: 15px;
    height: 15px;
}

.cellCategory {
    margin-left: 13px;
}

.total {
    padding-top: 16px;
    padding-bottom: 40px;
}

.totalRow {
    font-size: 15px;
    color: #282828;
    line-height: 2;
}

.totalCosts,
.totalCostsAmaunt,
.totalIncome,
.totalIncomeAmaunt {
    font-weight: 700
}

.totalCostsAmaunt {
    color: #ff6c00
}

.totalIncomeAmaunt {
    color: #6fa76f
}

@media (min-width: 768px) {
    .table {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #fff
    }

    .table,
    .total {
        width: auto
    }

    .totalRow {
        display: flex;
        justify-content: flex-end
    }

    .totalCosts,
    .totalCostsAmaunt,
    .totalIncome,
    .totalIncomeAmaunt {
        width: 110px;
        font-weight: 700
    }

    .totalCostsAmaunt,
    .totalIncomeAmaunt {
        text-align: right
    }
}

@media (min-width: 1024px) {
    .row {
        font-size: 14px;
        color: #282828;
        line-height: 1.385;
        height: 24px;
        border-bottom: 1px solid #f3f6f6
    }

    .total {
        padding: 8px 0 0
    }
}