.totalOne,
.totalTwo {
    width: 320px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 13px;
    letter-spacing: 0.9px;
    color: #282828;
    display: flex;
    padding-left: 35px;
}

.cost {
    color: #ff6c00;
    margin-left: 110px;
    margin-right: 20px;
}

.income {
    color: #6fa76f;
    margin-right: 20px;
    margin-left: 100px;
}

@media screen and (min-width: 768px) {
    .totalOne p,
    .totalTwo p {
        text-transform: uppercase;
    }

    .totalOne,
    .totalTwo {
        width: 702px;
        font-size: 13px;
        font-weight: 500;
        justify-content: flex-end;
        padding-bottom: 0;
        padding-top: 16px;
        padding-left: 0;
    }

    .income {
        margin-left: 43px;
        margin-right: 25px;
    }

    .cost {
        margin-left: 52px;
        margin-right: 25px;
    }    

    .totalOne {
        border-top: 2px solid #b9c9d4;
    }
}

@media screen and (min-width: 1224px) {
    .totalOne,
    .totalTwo {
        width: 362px;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.9px;
        justify-content: space-between;
        margin-left: 53px;
    }

    .totalOne {
        border-top: none;
    }

    .totalOne p,
    .totalTwo p {
        text-transform: inherit;
    }

    .income {
        margin-right: 65px;
    }

    .cost {
        margin-right: 65px;
    }   
}