@value colors "../../../styles/variables.css";
@value color-white, table-row-bg-dark, color-text-main-dark, font-family-primary from colors;

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list__item {
  border-left: 8px solid;
  box-shadow: 5px 5px 5px 0px rgba(235, 235, 235, 1);
  margin-bottom: 16px;
}

.list__itemRow {
  display: flex;
  padding-left: 16px;
}

.list__item:last-child {
  margin-bottom: 90px;
}

.list__itemRow:nth-child(odd) {
  background-color: table-row-bg-dark;
}

.list__itemRow p {
  width: 50%;
  color: color-text-main-dark;
  font-family: font-family-primary;
  font-size: 13px;
  font-weight: 300;
}

.boxButtons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
  box-shadow: 0 -10px 30px rgba(119, 119, 119, 0.1);
  background-color: color-white;
}
