body {
    background: #f9fcf9;
}

.registration__wrap {
    margin: 0 auto;
    min-width: 320px;
    position: relative;
}

.logo {
    padding-top: 65px;
    display: block;
    margin: 0 auto;
}

.registration__wrap_title {
    margin: 10px 0 34px 0;
    min-width: 320px;
    text-align: center;
    color: #2c353e;
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    font-weight: bold;
}

.registration__wrap_form {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.email__input {
    display: block;
    padding: 16px 0 16px 57px;
    margin-bottom: 0;
    width: 274px;
    color: #b9c9d4;
    font-family: "HelveticaNeueCyr";
    font-size: 13px;
    font-weight: 400;
    background: url(../../images/registration/email.png) no-repeat;
    background-position: 20px 16px;
    outline: none;
    border: none;
    background-color: #f9fbfb;
    border-radius: 4px;
    transition: .2s ease-in-out all;
}

.pass__input {
    padding: 16px 0 16px 57px;
    margin-bottom: 0;
    margin-top: 12px;
    width: 274px;
    color: #b9c9d4;
    font-family: "HelveticaNeueCyr";
    font-size: 13px;
    font-weight: 400;
    background: url(../../images/registration/lock.png) no-repeat;
    background-position: 20px 12px;
    outline: none;
    border: none;
    background-color: #f9fbfb;
    border-radius: 4px;
    transition: .2s ease-in-out all;
}

.name__input {
    margin-bottom: 25px;
    padding: 16px 0 16px 57px;
    width: 274px;
    color: #b9c9d4;
    font-family: "HelveticaNeueCyr";
    font-size: 13px;
    font-weight: 400;
    background: url(../../images/registration/account.png) no-repeat;
    background-position: 20px 16px;
    outline: none;
    border: none;
    background-color: #f9fbfb;
    border-radius: 4px;
    transition: .2s ease-in-out all;
}

.registration__btn {
    margin-top: 25px;
    width: 275px;
    height: 48px;
    box-shadow: 2px 3px 3px rgba(92, 135, 94, 0.2);
    background-color: #619361;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: "HelveticaNeueCyr";
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 23px;
    transition: .2s ease-in-out all;
    cursor: pointer;
}

.login__link {
    display: flex;
    justify-content: center;
    color: #6b7d83;
    font-family: "HelveticaNeueCyr";
    font-size: 12px;
    font-weight: 400;
}

.email__input::placeholder {
    opacity: 1;
}

.pass__input::placeholder {
    opacity: 1;
}

.name__input::placeholder {
    opacity: 1;
}

.active {
    border: 2px solid green;
    background-color: #f9fbfb;
    transition: .2s ease-in-out all;
}

::-webkit-progress-bar {
    background: whitesmoke;
}
::-webkit-progress-value {
    background: #619361;
    border-radius: 8px;
}
::-moz-progress-bar {
    background: #619361;
}

.progressbar {
    margin: 12px 0;
    width: 274px;
    height: 6px;
    border: none;
}

.bg__wrap{
    width: 320px;
    margin: 0 auto;
    height: 120px;
    background: url(../../images/login/bg.png);
    background-position: -9px -31px;
}

@media screen and (min-width: 768px) {
    body {
        background: #f9fcf9 url(../../images/login/bg.png) no-repeat center;
        /* background-image: ; */
    }

    .bg__wrap {
        background: none;
    }

    .registration__wrap {
        margin: 0 auto;
        background-color: white;
        width: 614px;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .registration__wrap_title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 27px;
        margin-top: 38px;
    }

    .logo {
        display: none;
    }

    .email__input, .pass__input {
        width: 433px;
        margin-bottom: 14px;
        margin-top: 0;
    }

    .name__input {
        width: 433px;
        margin-bottom: 29px;
    }

    .progressbar {
        width: 433px;
        margin-top: 0;
    }

    .registration__btn {
        width: 433px;
    }

    .registration__btn {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 21px;
    }

    .login__link {
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 48px;
    }
}