* { 
    margin: 0;
  }
  body {
     overflow-x: hidden;
    padding: 50px;
  }
  #root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  html, body {
    overflow-x: hidden;
}